{
    "presets": ["@babel/preset-react"],
    "plugins": ["styled-components", "lodash"],
    "env": {
      "production": {
        "plugins": [["styled-components", { "displayName": false }]]
      }
    }
  }